include LICENSE-APACHE
include LICENSE-MIT
include README.rst
include versioneer.py
include config.py
recursive-include handy *.zip *.xml *.rels *.conf
global-include *.zip *.xml *.rels *.py *.conf
graft handy
